name: Build and Deploy Search Service to Yandex Cloud

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'services/search/**'
      - 'packages/**'
      - 'package.json'
      - 'tsconfig.base.json'
  pull_request:
    branches:
      - main
      - develop
    paths:
      - 'services/search/**'
      - 'packages/**'
      - 'package.json'
      - 'tsconfig.base.json'
  workflow_dispatch:

env:
  SERVICE_NAME: search

jobs:
  build-and-push-to-yc:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build docker image
        run: |
          docker build . \
            --file ./services/search/Dockerfile \
            --tag cr.yandex/${{ secrets.YC_REGISTRY_ID }}/${{ env.SERVICE_NAME }}:latest

      - name: Login to YC Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Push tag to YC Registry
        run: |
          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/${{ env.SERVICE_NAME }}:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build-and-push-to-yc]

    steps:
      - name: Deploy serverless container
        uses: yc-actions/yc-sls-container-deploy@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YC_KEYS }}
          container-name: ${{ secrets.YC_CONTAINER_NAME }}
          folder-id: ${{ secrets.YC_FOLDER_ID }}
          revision-image-url: cr.yandex/${{ secrets.YC_REGISTRY_ID }}/${{ env.SERVICE_NAME }}:latest
          revision-service-account-id: ${{ secrets.YC_SA_ID }}
          revision-env: |
            AMQP_URL=${{ secrets.ENV_AMQP_URL }}
            POSTGRES_URL=${{ secrets.ENV_POSTGRES_URL }}
